@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #edeff0;
}

header{
    background-color: #3e474f ;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}

header img{
    max-width: 100px;
    border-radius: 50%;
    margin: 10px;

}

header h1{
    margin-top:0;
    text-align: center;
    font-size: 1em;
}

.wrap{
    margin:0 auto;
    text-align: center;
    padding: 15px;
}

.box {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    padding:30px;
    margin-bottom: 20px;
    position: relative;
}

.box > div{
    padding:7px;
}

.box.step:after{
    content:attr(value);
    position:absolute;
    background:#5fcf80;
    font-weight: 800;
    font-size:23px;
    top:16px;
    left:16px;
    border-radius: 50%;
    width:25px;
    height:25px;
    line-height: 1em;
    color:white;
    padding: 6px 8px 7px 8px;
}

.box.meditation{
    padding:0px;
    border: 1px solid #3659a2;
    text-align: left;
}

.meditation>div:first-of-type h3~p:first-of-type::first-letter{
color: #903;
float: left;
font-size: 75px;
line-height: 60px;
padding-top: 4px;
padding-right: 8px;
padding-left: 3px;
} 

.meditation h2{
    background-color:#3659a2;
    padding: 15px;
    color:#fff;
    border-radius: 4px 4px 0 0;
    margin-top:0;
}

.button {
    height: 40px;
    line-height: 36px;
    padding: 0 15px;
    border-radius: 4px;
    cursor:pointer;
    display:inline-block;
    font-weight: 600;
    font-size:14px;
    margin:0 5px 5px 0;
    text-decoration: none;
    color:#fff;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;;
}

.button.primary{
    background-color: #5fcf80;
    border: solid 2px #5fcf80;
}

.button.primary:hover{
    background-color: #3ac162;
    border-color: #3ac162;
}

.btn-copy{
    height:40px;
    width:40px;
    background-image: url(../img/copy.svg);
}


.meditation h2, .meditation h3 {
    text-align: center;
}

    @media(min-width:768px){
        .box.step{
            width:50%;
        }

        header h1{
            font-size: 2em;
        }

        .box > div{
            padding:15px;
        }

        .steps{
            display:flex;
        }

        .step:first-child{
            margin-right:5px;
        }

        .step:last-child{
            margin-left:5px;
        }

        header{
            min-height: 30vh;
            flex-direction: column;
        }

        .box.meditation{
            width:70%;
            margin:0 auto;
        }
    }